html, body{
     margin: 0; height: 100%;
}
body{
    display: block;
    background-color: goldenrod; font-size: small; color: #222222; 
}
div{
    display: block;
}
#viewport{
    position: absolute; top: 0;  min-height: 100%; max-width: 1135px; margin: 0 auto; width: 100%;
}
.ctr-p{
    margin: 0 auto; min-width: 980px;
}
input{
    text-rendering: auto; letter-spacing: normal; word-spacing: normal; text-transform: none;
    text-indent: 0px; text-shadow: none; text-align: start; -webkit-appearance: textfield; cursor: text;
}
a{
    text-decoration: none; 
}
#searchform{
    margin-top: 20px; position: absolute; top: 311px; 
    min-width: 980px; z-index: 127; width: 100%;
}
form{
    display: block;
}
#subform{
    margin: 0 auto; width: 833px; 
}
form#subform{
    max-width: 784px;
}
.subform{
    background: none;
}
.childform{
    position: relative; margin: 0 auto; width: 536px;
}
.mumform{
    background-color: #ffffff; display: flex; border: 1px solid #dfe1e5;
    box-shadow: none; border-radius: 24px; z-index: 3; height: 44px;
    margin: 0 auto; width: 534px;
}
.com{
    flex: 1; display: flex; padding: 5px 8px 0 16px;
    padding-left: 14px;
}
.mainclick{
    display: flex; align-items: center; padding-right: 13px;
    margin-top: -5px;
}
#mainclick{
    margin: auto;
}
.click{
    color: #9aa0a6; height: 20px; width: 20px;
}
.container{
    display: flex; flex: 1; flex-wrap: wrap;
}
#container{
    color: transparent; flex: 100%; white-space: pre;
}
.cotain{
    font: 16px arial,sans-serif; line-height: 34px; 
    height: 34px !important; 
}
.input{
    background-color: transparent; margin: 0; padding: 0; 
    color: rgba(0, 0, 0, .87); outline: none; display: flex;
    flex: 100%; -webkit-tap-highlight-color: transparent;
    margin: -3px; font-size: 16px; margin-bottom: 8px; border: none;
}
.cam-mic-clear{
    display: flex; flex: 0 0 auto; margin-top: -5px; align-items: stretch;
    flex-direction: row;
}
.clear-button{
    padding-right: 4px; display: flex; flex: 1 0 auto;
    cursor: pointer; align-items: center; border: 0;
    background: transparent; outline: none; padding: 0 8px;
    line-height: 44px;
}
.clean{
    margin-right: 12px; height: 100%; color: #80868b;
    vertical-align: middle; outline: none;
}
.line{
    border-left: 1px solid #383f4e; height: 65%;
}
.imaeg{
    flex: 1 0 auto; display: flex; cursor: pointer; align-items: center;
    border: 0; background: transparent; outline: none; padding: 0 8px;
}
#imaeg{
    height: 24px; width: 24px; 
    background: url(https://www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png) 0 0 no-repeat;
    background-size: 24px;
}
.voice{
    flex: 1 0 auto; display: flex; cursor: pointer;width: 24px;
    align-items: center; border: 0; background: transparent;
    outline: none;padding: 0 8px; line-height: 44px;
}
.HPVvwb{
    height: 24px; width: 24px; vertical-align: middle;
}
.sub-mit{
    flex: 0 0 auto; padding-right: 13px; height: 44px; width: 44px;
    background: transparent; border: none; cursor: pointer; 
    padding: 0;
}
button{
    webkit-appearance: button; -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto; letter-spacing: normal; word-spacing: normal;
    color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
    text-transform: none; text-indent: 0px; text-shadow: none;
    display: inline-block; text-align: center; align-items: flex-start;
    box-sizing: border-box; margin: 0em;font: 400 13.3333px arial;
}
#sub-mit{
    background: none; color: #4285f4; height: 24px; width: 24px;
    margin: auto;
}
.spanmit{
    display: inline-block; fill: currentColor; height: 24px;
    line-height: 24px; position: relative; width: 24px;
}
.spanmit svg{
    display: block; height: 100%; width: 100%;
}
svg:not(:root){
    overflow: hidden;
}
:not(svg){
    transform-origin: 0px 0px;
}
.content{
    padding-bottom: 35px; 
}
#body{
    display: block;
}
.image{
    height: 233px; margin-top: 89px;
}
.logo-subtext{
    color: #4285f4; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px;
    left: 110px; position: relative; top: -20px; font-weight: bold;
} 